@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.skeleton,
.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skeleton__item,
.card
.latest-watch-wrapper{
    padding: 16px;
    box-shadow: 0 0 14px #0002;
    border-radius: 10px;
}
.skeleton__image,
.card img
.latest-watch img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.skeleton__image{
    background: #ddd;
}
.skeleton__text{
    width: 80%;
    height: 24px;
    background: #ddd;
    margin-top: 12px;
    border-radius: 10px;
}
.skeleton__text:last-child{
    width: 50%;
}
.skeleton__animation{
    background: linear-gradient(90deg, #eee, #ccc, #eee);
    background-size: 200%;
    animation: skeleton 1.5s linear  infinite  ;
}
@keyframes skeleton {
    to{
        background-position: 200%;
    }
}
.latest-watch {
  gap: 12px;
  margin: 8px;
  padding: 16px;
  height: 380px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: .5s;
}
.latest-watch-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
body {
  font-family: Arial, sans-serif;
}
select {
  width: 110px;
  padding: 2px 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  cursor: pointer;
  transition: border 0.3s ease;
}
.search-container {
display: flex;
align-items: center;
width: 100%;
height: 40px;
max-width: 300px;
background-color: #fff;
border-radius: 8px;
padding: 8px 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
margin-left: 9px;
}
.search-container input{
flex: 1;
border: none;
outline: none;
font-size: 14px;
padding: 6px 10px;
background-color: transparent;
}
.text{
  text-wrap: nowrap;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.users,
.skeleton,
.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.skeleton__item,
.card{
  padding: 16px;
  box-shadow: 0 0 14px #0002;
  border-radius: 10px;
}
.skeleton__image,
.card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.skeleton__image{
  background: #ddd;
}
.skeleton__text{
  width: 80%;
  height: 24px;
  background: #ddd;
  margin-top: 12px;
  border-radius: 10px;
}
.skeleton__text:last-child{
  width: 50%;
}
.skeleton__animation{
  background: linear-gradient(90deg, #eee, #ccc, #eee);
  background-size: 200%;
  animation: skeleton 1.5s linear  infinite  ;
}

@keyframes skeleton {
  to{
      background-position: 200%;
  }
}


.loading{
  display: flex;
  justify-content: center;
}
.lds-facebook,
.lds-facebook div {
box-sizing: border-box;
}
.lds-facebook {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.lds-facebook div {
display: inline-block;
position: absolute;
left: 8px;
width: 16px;
background: currentColor;
animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
left: 8px;
animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
left: 32px;
animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
left: 56px;
animation-delay: 0s;
}
@keyframes lds-facebook {
0% {
  top: 8px;
  height: 64px;
}
50%, 100% {
  top: 24px;
  height: 32px;
}
}
.collection{
display: flex;
overflow: auto;
gap: 12px;
list-style: none;
}
.collection li{
text-wrap: nowrap;
background: #ddd;
padding: 6px 16px;
border-radius: 8px;
cursor: pointer;
}
.latest-watch h4{
  padding-top: 10px;
}
.box{
  margin: 20px;
  width: 300px;
  height: 400px;
}
.box img{
  width: 100%;
}
.btn-seemore{
  margin: 0 auto;
}
.category {
  text-wrap: nowrap;
  gap: 10px;
  text-transform: capitalize ;
  margin-bottom: 10px;
  margin-top: 10px;
}
.scroll-box::-webkit-scrollbar {
  height: 6px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
.scroll-box::-webkit-scrollbar-track {
  background-color: lightgray;
}
.scroll-box {
  width: 100%; 
  overflow-x: auto;    
  white-space: nowrap; 
}